<table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Resenha</th>
        <th>Editar</th>
        <th>Apagar</th>
      </tr>
    </thead>
    <tbody>
      {linha}
      <tr>
        <td>{titulo}</td>
        <td>{autor}</td>
        <td>{resenha}</td>
        <td>
          <button type="button">Editar</button>
        </td>
        <td>
          <button
            type="button"
            onclick="if(confirm('Deseja realmente apagar?'))
              location.href='?class=Tabela&method=remover&id={id}'"
          >
            Remover
          </button>
        </td>
      </tr>
      {/linha}
    </tbody>
  </table>